<div class="flex">
  <div class="col-width-70" style="background-color: beige;">
    <mat-tab-group>
      <mat-tab label="Patient Groups/Cohorts">
        <app-patient-groups></app-patient-groups>
      </mat-tab>
      <mat-tab label="Patient Search">
        <app-patient-search></app-patient-search>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-width-30" style="background-color: blanchedalmond">
      <app-form-selection (formSelectedEvent)="onFormSelected($event)"></app-form-selection>
    <div class="flex-row margin-sm start-job-button">
      <button mat-raised-button color="primary" (click)="onStartJob()">
        <mat-icon>start</mat-icon>
        Start Job
      </button>
    </div>
  </div>

</div>
