<!--<div class="flex-row-simple border" [style.background-color]="'lightgrey'">-->
<!--  <div class="border" [style.flex]="'1'">-->
<!--    <h3>Patient</h3>-->
<!--    <mat-tab-group>-->
<!--      <mat-tab label="Patient Groups/Cohorts">-->
<!--        <app-patient-groups></app-patient-groups>-->
<!--      </mat-tab>-->
<!--      <mat-tab label="Patient Search">-->
<!--        <app-patient-search></app-patient-search>-->
<!--      </mat-tab>-->
<!--    </mat-tab-group>-->
<!--  </div>-->
<!--  <div class="border" [style.flex]="'1'">-->
<!--    <h3>Form Type Selection</h3>-->
<!--    <app-form-selection></app-form-selection>-->
<!--  </div>-->
<!--  <div class="border" [style.flex]="'1'">-->
<!--    <button mat-raised-button>Start Job</button>-->
<!--  </div>-->
<!--</div>-->
<div class="flex">
  <div class="col-width-70" style="background-color: beige">
    Left content
    <mat-tab-group>
      <mat-tab label="Patient Groups/Cohorts">
        <app-patient-groups></app-patient-groups>
      </mat-tab>
      <mat-tab label="Patient Search">
        <app-patient-search></app-patient-search>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-width-30" style="background-color: blanchedalmond">
    Right Content
    <div>
      <app-form-selection (formSelectedEvent)="onFormSelected($event)"></app-form-selection>
    </div>
    <div>
      <button style="justify-content: center" mat-raised-button>Start Job</button>
    </div>
  </div>

</div>
