<mat-card-title mat-dialog-title>Create New Group</mat-card-title>
<div mat-dialog-content class="margin-md">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-wrapper">
    <div class="form margin-top-sm">
      <div>
        <p-floatlabel class="width-full">
          <input
            id="groupName"
            type="text"
            pInputText
            formControlName="groupName"
            aria-label="Group Name"
            class="width-full"
          />
          <label for="groupName">Group Name</label>
        </p-floatlabel>
        @if (formGroup.controls.groupName.hasError('required')) {
          <small class="p-error">Group Name is required</small>
        }
      </div>
      <div class="actions margin-top-md">
        <button mat-stroked-button (click)="onCancel()">
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
        <button type="submit" mat-raised-button color="primary" class="margin-left-md">Save</button>
      </div>

    </div>
  </form>
</div>

