.form-wrapper{
  height: 95%
}

.form{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}

.width-full{
  width: 100%;
}
