<mat-card-title mat-dialog-title>Create New Group</mat-card-title>
<div mat-dialog-content class="margin-md">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-wrapper">
    <div class="form margin-top-sm">
      <div>
        <mat-form-field id="groupName" appearance="outline" class="width-full" floatLabel="always">
          <mat-label>Group Name</mat-label>
          <input type="text"
                 aria-label="Group Name"
                 matInput
                 formControlName="groupName"
          >
          @if (formGroup.controls.groupName.hasError('required')) {
            <mat-error>Group Name is required</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="actions margin-top-md">
        <button mat-stroked-button (click)="onCancel()">
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
        <button type="submit" mat-raised-button color="primary" class="margin-left-md">Save</button>
      </div>

    </div>
  </form>
</div>

