<nav class="main-menu" [ngClass]="{'expanded': expanded}">
  @if (oauthService.hasValidAccessToken()) {
    <span class="icon"> <sc-standalone-login [isLocatedInMainMenu]="true"></sc-standalone-login></span>
  }
  @else {
    <button mat-button color="menu-button" class="expanded-menu-button" (click)="this.oauthService.initLoginFlow();">
      <mat-icon>login</mat-icon>
      @if (expanded) { Login }
    </button>
  }

  <ul>
    <!-- Open/Close nav menu (always rendered) -->
    <li>
      @if (expanded) {
        <button mat-button class="expanded-menu-button" (click)="onExpandedStatusChanged()">
          <mat-icon class="icon-display">chevron_left</mat-icon>
          Close Menu
        </button>
      }
      @else {
        <button mat-button (click)="onExpandedStatusChanged()">
          <mat-icon class="icon-display">chevron_right</mat-icon>
        </button>
      }
    </li>

    <!-- Menu options rendered if the user is logged in -->
    @if (oauthService.hasValidAccessToken()) {
      <li>
        <button mat-button class="expanded-menu-button"
                [class.selected]="(stateManagementService.getState() | async).currentRoute == RouteState.LANDING"
                (click)="router.navigate(['/']);">
          <mat-icon>home</mat-icon>
          @if (expanded) { Home }
        </button>
      </li>

      <li>
        <button mat-button class="expanded-menu-button"
                [class.selected]="(stateManagementService.getState() | async).currentRoute == RouteState.CURRENT_FORM"
                (click)="router.navigate(['/form-viewer']);">
          <mat-icon>list_alt</mat-icon>
          @if (expanded) { Current Form }
        </button>
      </li>

      <li>
        <button mat-button class="expanded-menu-button"
                [class.selected]="(stateManagementService.getState() | async).currentRoute == RouteState.LOAD_FORM"
                (click)="router.navigate(['/forms']);">
          <mat-icon>person_search</mat-icon>
          @if (expanded) { Load Form }
        </button>
      </li>
    }
  </ul>

  <!-- render a logout button at the bottom of the menu -->
  @if (oauthService.hasValidAccessToken()) {
    <ul class="logout">
      <li>
        <button mat-button color="menu-button" class="expanded-menu-button" (click)="oauthService.logOut()">
          <mat-icon>logout</mat-icon>
          @if (expanded) { Logout }
        </button>
      </li>
    </ul>
  }
</nav>
