$menu-width: 220px;
$dark-grey-color: #d3d0cf;
$blue-ascent-color: #005cbb;
$blue-accent-color-light: #d4e4f5;

nav.main-menu.expanded {
  width:$menu-width;
  overflow:visible;
}

.main-menu {
  background: #f1f4ff;
  color: #333;
  border-right:1px solid #e5e5e5;
  height:100%;
  width:64px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}

.main-menu > ul.logout {
  position:absolute;
  left:0;
  bottom:0;
}


.mat-mdc-button:not(:disabled) {
  color: whitesmoke;
}

.mat-mdc-button:hover {
  color: $dark-grey-color;
}

button {
  justify-content: flex-start;
  font-size: 14px;
  margin: 8px 12px;
}

 .mat-mdc-button > .mat-icon {
   font-size: 24px;
   height: 24px;
   width: 24px;
   border-radius: 0
 }

 .selected {
  color: $blue-accent-color-light;

 }

.version{
  margin-left: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  font-size: small;
}

.menu-items-wrapper {
  list-style: none;
  > .menu-item {
    border-radius: .5em;
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 2px 2px;
    color: #333;
    margin: 0 8px;
     transition: all 0.2s ease-in-out;
    > .icon {
      padding: 4px;
      border-radius: 4px;
      min-height: 28px;
      min-width: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  > .menu-item:hover {
    transition: all 0.2s ease-in-out;
    color: $blue-ascent-color;
    background-color: $blue-accent-color-light;
  }
}

.selected-menu-item {

  background-color: $blue-accent-color-light;
  color: $blue-ascent-color !important;
 
   > .icon {
    color: $blue-ascent-color;
 
   }
}

.menu-text{
  margin-left: 4px;
  padding-right: 4px;
}

.menu-state{
  border-radius: 0;
  padding: .25em 0 !important;
  margin: 1em 0 !important;
  border-bottom: 1px solid #e8ecff;
  border-top: 1px solid #e8ecff;
}

