<div class="margin-sm">
  <!-- TODO: Extract the style to CSS-->
  <div style="margin-bottom: 64px">
    <h2>Structured Resources</h2>
    @for (resource of this.cqlResources; track resource) {
      <div class="border">
        {{ resource.resourceType }}/{{ resource.id }}
      </div>
    }

    <app-structured-results-details
      [structuredResults]="simpleObservations">
    </app-structured-results-details>


  </div>
  <div style="margin-bottom: 64px">
    <app-unstructured-results-details
      [nlpAnswers]="nlpAnswers"
      [nlpResources]="nlpResources"
    >
    </app-unstructured-results-details>

  </div>


</div>
