<div class="viewer-container-wrapper">
  @if (activeFormSummary?.formName || activeFormSummary?.patientSummary) {
    <div class="viewer-container-header flex">
      <div class="form-name">
        {{ questionnaire?.["title"] }}
      </div>
      @if (activeFormSummary?.patientSummary) {
        <div class="patient-details">
          <app-patient-details [patientSummary]="activeFormSummary?.patientSummary"/>
        </div>
      }
    </div>
  }
  <div class="viewer-container-body">
    @if (!activeFormSummary) {
      <div class="viewer-container-body-content">
        <div class="margin-md">No form has been selected, please load an active form through the Form Manager.</div>
        <div class="margin-md">
          <button mat-raised-button (click)="selectPatientForm()">Go to Form Manager</button>
        </div>
      </div>
    } @else {
      <div class="padding-right-md">
        <mat-nav-list class="side-nav">
          @for (item of questionnaire?.["item"]; track item; let i = $index) {
            <div>
              <button
                mat-flat-button
                class="expanded-menu-button"
                [ngClass]="(i == selectedMenuItemIndex) ? 'selected-menu-item': ''"
                (click)="selectQuestionnaireSection(i); this.selectedEvidenceIndex = null; showDrawer=false">
                {{ item["text"] }}
              </button>
            </div>
          }
        </mat-nav-list>
      </div>

      <!-- Begin actual form rendering -->
      <div class="viewer-container-body-content">
        @for (item of questionnaire?.["item"]; track item; let i = $index) {
          @if (item["selected"]) {
            <div class="margin-top-md item-text">{{ item["text"] }}</div>

            @for (childItem of (item["item"]); track childItem; let j = $index) {
              <div class="question-item" [ngClass]="showDrawer ? 'full-size-question-item': ''">
                <div class="question-label"
                     [ngClass]="(j == selectedEvidenceIndex && showDrawer) ? 'selected-evidence': ''">
                  <span appGetIndex [i]="j" [childItems]="childItem" [itemElements]="item['item']"></span>
                  <span class="margin-left-sm">{{ childItem["text"] }}</span>
                </div>

                <div class="margin-left-md margin-right-sm margin-top-xs">
                  @if (childItem["type"] == QuestionnaireItemType.choice) {
                    @for (option of childItem?.['answerOption']; track option) {
                      <mat-radio-group [(ngModel)]="answerDictionary[childItem?.linkId]">
                        @if (childItem?.['answerOption'].length <= 3) {
                          <mat-radio-button class="margin-right-md"
                                            [value]="option?.['valueString']">{{ option?.['valueString'] }}
                          </mat-radio-button>
                        } @else {
                          <!-- There are too many options to render in the same line -->
                          <div>
                            <mat-radio-button [value]="option?.['valueString']">
                              {{ option?.['valueString'] }}
                            </mat-radio-button>
                          </div>
                        }
                      </mat-radio-group>
                    }
                  } @else if (childItem["type"] == QuestionnaireItemType.string) {
                    <mat-form-field appearance="outline" class="question-input">
                      <input type="text" matInput [(ngModel)]="answerDictionary[childItem?.linkId]">
                    </mat-form-field>

                  } @else if (childItem["type"] == QuestionnaireItemType.quantity) {
                    <div class="flex">
                      <mat-form-field
                        appearance="outline"
                        class="value-quantity-input margin-right-md">
                        <input type="text" matInput [(ngModel)]="answerDictionary[childItem?.linkId].value">
                        <span matPrefix class="input-prefix">Value</span>
                      </mat-form-field>
                      <mat-form-field
                        appearance="outline"
                        class="value-quantity-input margin-left-md">
                        <span matPrefix class="input-prefix">Unit</span>
                        <input type="text" matInput [(ngModel)]="answerDictionary[childItem?.linkId].quantity">
                      </mat-form-field>
                    </div>
                  } @else if (childItem["type"] == QuestionnaireItemType.integer) {
                    <mat-form-field
                      appearance="outline" class="question-input"
                      (keyup)="setValue(QuestionnaireItemType.integer, questionnaire, i, j)">
                      <input type="number" matInput [(ngModel)]="answerDictionary[childItem?.linkId]">
                      <mat-hint>Only whole numbers are allowed</mat-hint>
                    </mat-form-field>
                  } @else if (childItem["type"] == QuestionnaireItemType.decimal) {
                    <mat-form-field appearance="outline" class="question-input">
                      <input type="number" matInput [(ngModel)]="answerDictionary[childItem?.linkId]">
                    </mat-form-field>
                  } @else if (childItem["type"] == QuestionnaireItemType.date) {
                    <app-fhir-date-time
                      (onDateTimeUpdated)="answerDictionary[childItem?.linkId] = $event.value;"
                      [questionType]="QuestionnaireItemType.date"
                      [inputValue]="answerDictionary[childItem?.linkId]"
                    ></app-fhir-date-time>
                  } @else if (childItem["type"] == QuestionnaireItemType.time) {
                    <app-fhir-date-time
                      (onDateTimeUpdated)="answerDictionary[childItem?.linkId] = $event.value;"
                      [questionType]="QuestionnaireItemType.time"
                      [inputValue]="answerDictionary[childItem?.linkId]"
                    ></app-fhir-date-time>
                  } @else if (childItem["type"] == QuestionnaireItemType.dateTime) {
                    <app-fhir-date-time
                      (onDateTimeUpdated)="answerDictionary[childItem?.linkId] = $event.value;"
                      [questionType]="QuestionnaireItemType.dateTime"
                      [inputValue]="answerDictionary[childItem?.linkId]"
                    ></app-fhir-date-time>
                  } @else if (childItem["type"] == QuestionnaireItemType.text) {
                    <textarea rows="8" class="question-input sans-serif"  [(ngModel)]="answerDictionary[childItem?.linkId]"></textarea>
                  }

                  <div *appHasEvidence="childItem['extension']" class="margin-left-sm margin-bottom-md">
                    <!--                      TODO: Handle status based scenarios per logic below                 -->
                    <!--                      if hasLogic                                                         -->
                    <!--                        if results[linkId} is found                                       -->
                    <!--                          if cqlAnswer                                                    -->
                    <!--                            show suggested answer                                         -->
                    <!--                          if evidence                                                     -->
                    <!--                            show evidence button                                          -->
                    <!--                      else results[linkId] not found AND if results.status is in progress -->
                    <!--                          show progress spinner                                           -->
                    <!--                      else results[linkId] not found AND if results.status is complete    -->
                    <!--                      show "No evidence found"                                            -->

                    @if (results?.["link" + childItem?.["linkId"]]?.["cqlAnswer"]?.["valueString"]) {
                      <div class="margin-bottom-sm">
                        Suggested Answer:
                        @for (item of (results?.["link" + childItem?.["linkId"]]?.["cqlAnswer"]?.["valueString"] | suggestedAnswer); track item) {
                          <span class="margin-left-sm" (click)="answerDictionary[childItem?.linkId]=item;">
                            <mat-chip>{{ item }}</mat-chip>
                          </span>
                        }
                      </div>
                    }

                    @if (results?.["link" + childItem?.["linkId"]]?.["evidence"] && results?.["link" + childItem?.["linkId"]]?.["evidence"].length > 0) {
                      <button mat-raised-button
                              appSetEvidence [resultSet]="results?.['link' + childItem?.['linkId']]"
                              (click)="showDrawer=true; selectedEvidenceIndex=j">
                        View Evidence
                        ({{ results?.["link" + childItem?.["linkId"]]?.["evidence"] ? results?.["link" + childItem?.["linkId"]]?.["evidence"]?.length : "ERROR" }}
                        )
                      </button>
                    }
                  </div>
                </div>
              </div>
            }
          }
        }
      </div>
      <div class="viewer-container-body-side-content viewer-container-body-side-explorer"
           [ngClass]="(this.evidenceViewerExpanded$ | async) ? 'viewer-container-body-side-explorer-expanded': ''"
           [hidden]="!showDrawer">
        <div class="fhir-explorer-header">
          @if (this.evidenceViewerExpanded$ | async) {
            <mat-icon
              (click)="evidenceViewerService.setViewerExpanded(false);"
              matTooltip="Collapse"
              class="pointer">
              chevron_right
            </mat-icon>
          } @else {
            <mat-icon
              (click)="evidenceViewerService.setViewerExpanded(true);"
              matTooltip="Expand"
              class="pointer">
              chevron_left
            </mat-icon>
          }
          <span class="explorer-header-title">
            Evidence
          </span>
          <span class="content-spacer"></span>
          <mat-icon
            (click)="showDrawer = false;"
            aria-label="Close Evidence Viewer"
            matTooltip="Close Evidence Viewer"
            class="pointer">
            close
          </mat-icon>
        </div>
        <app-evidence-details [activeFormSummary]="activeFormSummary"></app-evidence-details>
      </div>
    }
  </div>
  @if (questionnaire?.["item"]?.length > 0) {
    <div class="nav-controls">
      <div class="content-spacer"></div>

      <button mat-flat-button type="submit" class="wide-button"
              [disabled]="selectedMenuItemIndex == 0"
              (click)="selectedMenuItemIndex = selectedMenuItemIndex - 1; selectQuestionnaireSection(selectedMenuItemIndex)">
        <mat-icon>chevron_left</mat-icon>
        Previous
        Section{{ selectedMenuItemIndex > 0 ? ': ' + questionnaire?.['item']?.[selectedMenuItemIndex - 1]?.['text'] : '' }}
      </button>

      <button mat-flat-button type="submit" class="margin-left-sm wide-button"
              [disabled]="(questionnaire?.['item']?.length -1) == selectedMenuItemIndex"
              (click)="selectedMenuItemIndex = selectedMenuItemIndex + 1; selectQuestionnaireSection(selectedMenuItemIndex)">
        Next
        Section{{ (selectedMenuItemIndex < questionnaire?.['item']?.length - 1) ? ': ' + questionnaire?.['item']?.[selectedMenuItemIndex + 1]?.['text'] : '' }}
        <mat-icon iconPositionEnd>chevron_right</mat-icon>
      </button>

      <div class="content-spacer"></div>

      <button mat-raised-button type="submit" (click)="onSubmit()">
        <mat-icon>download</mat-icon>
        Save/Export
      </button>

    </div>
  }

</div>
