<div class="viewer-container-wrapper">
  @if (activeFormSummary()?.formName || activeFormSummary()?.patientSummary) {
    <div class="viewer-container-header">
      <div class="form-name">
        {{ questionnaire()?.title }}
      </div>
      @if (activeFormSummary()?.patientSummary) {
        <div class="patient-details-component-wrapper">
          <app-patient-details [patientSummary]="activeFormSummary()?.patientSummary"/>
        </div>
      }
    </div>
    <div class="viewer-container-header">
      <div class="job-details-wrapper">
        <div class="job-details-label">
          Form Job Status:
        </div>
        <div class="job-details-value">
          {{ status }} - {{ completeCount }}/{{ totalCount }} ({{ percentComplete.toFixed(0) }}%)
        </div>
        <div class="job-details-spinner">
          @if (status === "complete") {
            <mat-spinner mode="determinate" color="primary" value="100" [diameter]="16"/>
          } @else {
            <mat-spinner [diameter]="16" color="accent"/>
          }
        </div>

      </div>
    </div>
  }
  <div class="viewer-container-body" [ngClass]="menuCollapsed() ? 'menu-collapsed' : ''">
    <div class="sub-nav">
      <div class="fhir-explorer-header sub-nav-header">
        @if (!menuCollapsed()) {
          <span class="explorer-header-title">
            Sections
          </span>
          <span class="content-spacer"></span>
        }
        <mat-icon
          class="pointer sub-nav-toggle"
          (click)="toggleMenu()"
          [matTooltip]="menuCollapsed() ? 'Expand sections' : 'Collapse sections'">
          {{ menuCollapsed() ? 'chevron_right' : 'chevron_left' }}
        </mat-icon>
      </div>

      <mat-nav-list class="section-scroll-body">
        <ul class="sub-menu">
          @for (item of questionnaire()?.item; track item.linkId; let i = $index) {
            @let evidenceCount = getQuestionsWithEvidenceCount(item, results());
            @if (!menuCollapsed()) {
              <li class="sub-menu-item"
                  [ngClass]="selectedMenuItemIndex === i ? 'selected-menu-item' : ''"
                  (click)="onSectionSelected(i)">
                {{ i + 1 }}. {{ item.text }}
                @if (evidenceCount > 0) {
                  <span class="sparkles-icon" aria-hidden="true"
                        matTooltipPosition="above"
                        [matTooltip]="'Found evidence for ' + evidenceCount + ' out of ' + getQuestionCount(item) + ' questions.'">
                    </span>
                }
              </li>
            } @else {
              <li class="sub-menu-item" [matTooltip]="item.text" [matTooltipPosition]="'right'"
                  [ngClass]="selectedMenuItemIndex === i ? 'selected-menu-item' : ''"
                  (click)="onSectionSelected(i)">
                <span class="pointer">{{ i + 1 }}.</span>
            }
          }
        </ul>
      </mat-nav-list>
    </div>

    <!-- Begin actual form rendering -->
    <div class="viewer-container-body-content">
      <div class="fhir-explorer-header">
        <span class="explorer-header-title">
            Questions
          </span>
      </div>
      <div class="section-scroll-body" #top>
      @for (item of questionnaire()?.item; track item.linkId; let i = $index) {
        @if (item.selected) {
          <div class="margin-top-md item-text">{{ item.text }}</div>

          @for (childItem of item.item; track childItem.linkId; let j = $index) {
            <div class="question-item full-size-question-item">
              <div class="question-label"
                   [ngClass]="(j === selectedEvidenceIndex) ? 'selected-evidence': ''">
                <span appGetIndex [i]="j" [childItems]="childItem" [itemElements]="item.item"></span>
                <span class="margin-left-sm">{{ childItem.text }}</span>
              </div>

              <div class="margin-left-md margin-right-sm margin-top-xs">
                @switch (childItem.type) {
                  @case (QuestionnaireItemType.choice) {
                    <mat-radio-group
                      [ngModel]="getSelectedChoiceValue(childItem)"
                      (ngModelChange)="onChoiceSelected(childItem, $event)">
                      @for (option of childItem.answerOption; track getOptionValue(option)) {
                        @if (childItem.answerOption!.length <= 3) {
                          <mat-radio-button class="margin-right-md"
                                            [value]="getOptionValue(option)">{{ getOptionLabel(option) }}
                          </mat-radio-button>
                        } @else {
                          <!-- There are too many options to render in the same line -->
                          <div>
                            <mat-radio-button [value]="getOptionValue(option)">
                              {{ getOptionLabel(option) }}
                            </mat-radio-button>
                          </div>
                        }
                      }
                    </mat-radio-group>
                  }
                  @case (QuestionnaireItemType.string) {
                    <mat-form-field appearance="outline" class="question-input">
                      <input type="text" matInput [(ngModel)]="answerDictionary()![childItem.linkId]">
                    </mat-form-field>
                  }
                  @case (QuestionnaireItemType.quantity) {
                    <div class="flex">
                      <mat-form-field
                        appearance="outline"
                        class="value-unit-input margin-right-md">
                        <mat-label>Value</mat-label>
                        <input type="number" matInput [(ngModel)]="answerDictionary()![childItem.linkId].value">
                      </mat-form-field>
                      <mat-form-field
                        appearance="outline"
                        class="value-unit-input margin-left-md">
                        <mat-label>Unit</mat-label>
                        <input type="text" matInput [(ngModel)]="answerDictionary()![childItem.linkId].unit">
                      </mat-form-field>
                    </div>
                  }
                  @case (QuestionnaireItemType.integer) {
                    <mat-form-field
                      appearance="outline" class="question-input"
                      (keyup)="setValue(QuestionnaireItemType.integer, i, j)">
                      <input type="number" matInput [(ngModel)]="answerDictionary()![childItem.linkId]">
                      <mat-hint>Only whole numbers are allowed</mat-hint>
                    </mat-form-field>
                  }
                  @case (QuestionnaireItemType.decimal) {
                    <mat-form-field appearance="outline" class="question-input">
                      <input type="number" matInput [(ngModel)]="answerDictionary()![childItem.linkId]">
                    </mat-form-field>
                  }
                  @case (QuestionnaireItemType.date) {
                    <app-fhir-date-time
                      (onDateTimeUpdated)="answerDictionary()![childItem.linkId] = $event.value"
                      [questionType]="QuestionnaireItemType.date"
                      [inputValue]="answerDictionary()![childItem.linkId]"
                    ></app-fhir-date-time>
                  }
                  @case (QuestionnaireItemType.time) {
                    <app-fhir-date-time
                      (onDateTimeUpdated)="answerDictionary()![childItem.linkId] = $event.value"
                      [questionType]="QuestionnaireItemType.time"
                      [inputValue]="answerDictionary()![childItem.linkId]"
                    ></app-fhir-date-time>
                  }
                  @case (QuestionnaireItemType.dateTime) {
                    <app-fhir-date-time
                      (onDateTimeUpdated)="answerDictionary()![childItem.linkId] = $event.value"
                      [questionType]="QuestionnaireItemType.dateTime"
                      [inputValue]="answerDictionary()![childItem.linkId]"
                    ></app-fhir-date-time>
                  }
                  @case (QuestionnaireItemType.text) {
                    <textarea rows="8" class="question-input sans-serif"
                              [(ngModel)]="answerDictionary()![childItem.linkId]"></textarea>
                  }
                }

                <!--                      TODO: Handle status based scenarios per logic below                 -->
                <!--                      if hasLogic                                                         -->
                <!--                        if results[linkId} is found                                       -->
                <!--                          if cqlAnswer                                                    -->
                <!--                            show suggested answer                                         -->
                <!--                          if evidence                                                     -->
                <!--                            show evidence button                                          -->
                <!--                      else results[linkId] not found AND if results.status is in progress -->
                <!--                          show progress spinner                                           -->
                <!--                      else results[linkId] not found AND if results.status is complete    -->
                <!--                      show "No evidence found"                                            -->
                <!--                  <pre>{{ results?.["link" + childItem?.["linkId"]] | json }}</pre>-->

                @let resultSet = results()?.["link" + childItem.linkId];
                @if (resultSet?.["cqlAnswer"]?.["valueString"]) {
                  <div class="margin-bottom-sm">
                    Suggested Answer:
                    @for (suggested of (resultSet?.["cqlAnswer"]?.["valueString"] | suggestedAnswer); track suggested) {
                      <span class="margin-left-sm" (click)="answerDictionary()![childItem.linkId] = suggested">
                          <mat-chip class="suggested-answer"
                                    matTooltip="Click to fill the answer">{{ suggested }}</mat-chip>
                        </span>
                    }
                  </div>
                }

                @if (resultSet?.["evidence"] && resultSet["evidence"].length > 0) {
                  <div>
                    <button matButton="outlined" class="primary-outlined"
                            appSetEvidence [resultSet]="resultSet"
                            (click)="toggleEvidenceDrawer(j)">
                      View Evidence
                      ({{ getEvidenceCount(childItem.linkId, results()) }})
                    </button>
                  </div>
                }
              </div>
            </div>
          }
        }
      }
      </div>
    </div>
    <div class="viewer-container-body-side-content viewer-container-body-side-explorer">
      <div class="fhir-explorer-header">
        <span class="explorer-header-title">
            Evidence
          </span>
      </div>
      <div class="section-scroll-body">
        @if (selectedEvidenceIndex !== null) {
          <app-evidence-details [activeFormSummary]="activeFormSummary()"></app-evidence-details>
        } @else {
          <div class="evidence-empty-state">
            Select "View Evidence" on a question to see supporting evidence here.
          </div>
        }
      </div>
    </div>
  </div>
  @if ((questionnaire()?.item?.length ?? 0) > 0) {
    <div class="nav-controls">
      <div class="content-spacer"></div>

      <button mat-flat-button type="submit" class="wide-button"
              [disabled]="selectedMenuItemIndex === 0"
              (click)="goToPreviousSection()">
        <mat-icon>chevron_left</mat-icon>
        Previous
        Section{{ selectedMenuItemIndex > 0 ? ': ' + questionnaire()?.item?.[selectedMenuItemIndex - 1]?.text : '' }}
      </button>

      <button mat-flat-button type="submit" class="margin-left-sm wide-button"
              [disabled]="(questionnaire()!.item.length - 1) === selectedMenuItemIndex"
              (click)="goToNextSection()">
        Next
        Section{{ (selectedMenuItemIndex < questionnaire()!.item.length - 1) ? ': ' + questionnaire()?.item?.[selectedMenuItemIndex + 1]?.text : '' }}
        <mat-icon iconPositionEnd>chevron_right</mat-icon>
      </button>

      <div class="content-spacer"></div>

      <button matButton="filled" type="button" (click)="onExport()">
        <mat-icon>download</mat-icon>
        Export
      </button>
      <span class="margin-left-sm">
      <button matButton="filled" color="primary" type="submit" (click)="onSave()">
        Save
      </button>
      </span>
    </div>
  }

</div>
