.col-width-20 {
  flex: 0 0 20%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.col-width-80 {
  flex: 0 0 80%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

mat-form-field {
  min-width: 70%;
}
