<form [formGroup]="searchResultsForm" (ngSubmit)="onSubmit()">
  <!--Name Form Field-->
  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>Name:</mat-label>
    <input matInput formControlName="identifier">
  </mat-form-field>

  <!--Gender Form Field-->
  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>Group</mat-label>
    <mat-select formControlName="gender">
      @for (gender of GENDER_LIST; track gender) {
        <mat-option [value]="gender">{{ gender }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>DoB Range</mat-label>
    <mat-select formControlName="dobRange">
      @for (gender of GENDER_LIST; track gender) {
        <mat-option [value]="gender">{{ gender }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>DoB Range</mat-label>
    <mat-date-range-input [formGroup]="dobRange" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>DoB Range</mat-label>
    <mat-select formControlName="formName">
      @for (gender of GENDER_LIST; track gender) {
        <mat-option [value]="gender">{{ gender }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

</form>


<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="formName">
    <th mat-header-cell *matHeaderCellDef>Form Name</th>
    <td mat-cell *matCellDef="let row">{{ row.formName }}</td>
  </ng-container>

  <ng-container matColumnDef="started">
    <th mat-header-cell *matHeaderCellDef>Form Started</th>
    <td mat-cell *matCellDef="let row">{{ row.started | date:'MM/dd/yyyy  HH:mm:ss' }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row">{{ row.patientSummary.name.given }} {{ row.patientSummary.name.family }}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let row">{{ row.patientSummary.gender | titlecase}}</td>
  </ng-container>

  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
    <td mat-cell *matCellDef="let row">{{ row.patientSummary.birthDate | date : 'MM/dd/yyyy' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onActiveFormSelected(row)"></tr>

  <tr class="mat-row" *matNoDataRow>
    @if (isLoading) {
      <td *ngIf="isLoading" class="mat-cell padding-md loading" [attr.colspan]="displayedColumns.length">
        Loading active forms
      </td>
    } @else {
      <td class="mat-cell padding-md" [attr.colspan]="displayedColumns.length">
        No active forms found.
      </td>
    }
  </tr>

</table>
