<div class="margin-top-lg margin-bottom-md margin-right-sm margin-left-sm">
  <mat-expansion-panel
    [togglePosition]="'before'" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title> Patient Search</mat-panel-title>
    </mat-expansion-panel-header>

    <app-active-forms-filter (onFormValueChange)="onFiltersValueChanged($event)"/>

  </mat-expansion-panel>
</div>


<app-active-forms-grid
  [activeForms]="activeForms" [isLoading]="isLoading"
  (onActiveFormSelected)="onActiveFormSelected($event)"
/>
