<form [formGroup]="searchResultsForm" class="margin-top-md" (keydown.enter)="$event.preventDefault()">
  <div class="inputs-container">

    <!--Patient Name-->
    <p-floatlabel class="margin-right-md full-width">
      <input
        id="name"
        type="text"
        pInputText
        formControlName="name"
        class="full-width"
      />
      <label for="name">Name</label>
    </p-floatlabel>



    <!--Gender-->
    <p-floatlabel class="margin-right-md full-width">
      <p-multiselect
        inputId="gender"
        [options]="GENDER_LIST"
        formControlName="gender"
        class="full-width"
        appendTo="body"
        display="chip"
      ></p-multiselect>
      <label for="gender">Gender</label>
    </p-floatlabel>

    <!--DoB Range-->
    <p-floatlabel class="margin-right-md full-width">
      <p-datepicker
        inputId="dobRange"
        formControlName="dobRange"
        selectionMode="range"
        [readonlyInput]="true"
        dateFormat="mm/dd/yy"
        [showIcon]="true"
        class="full-width"
        appendTo="body"
      ></p-datepicker>
      <label for="dobRange">DoB Range</label>
    </p-floatlabel>

    <!--Form Name-->
    <p-floatlabel class="margin-right-md full-width">
      <p-select
        inputId="formName"
        [options]="formList"
        formControlName="formName"
        optionLabel="name"
        class="full-width"
        appendTo="body"
      ></p-select>
      <label for="formName">Form Name</label>
    </p-floatlabel>

    <!--Started Range-->
    <p-floatlabel class="full-width">
      <p-datepicker
        inputId="startedRange"
        formControlName="startedRange"
        selectionMode="range"
        [readonlyInput]="true"
        dateFormat="mm/dd/yy"
        [showIcon]="true"
        class="full-width"
        appendTo="body"
      ></p-datepicker>
      <label for="startedRange">Started Range</label>
    </p-floatlabel>

    <!--Status-->
    <!--TODO render the status field when implement in the API -->
<!--    <mat-form-field appearance="outline" class="full-width" floatLabel="always">-->
<!--      <mat-label>Status</mat-label>-->
<!--      <mat-select formControlName="status">-->
<!--        @for (status of statusList; track status) {-->
<!--          <mat-option [value]="status">{{ status }}</mat-option>-->
<!--        }-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
  </div>

  <div class="margin-top-md">
    <button matButton="filled" color="primary" (click)="onClearForm()">Clear Filters</button>
  </div>

</form>
