<form [formGroup]="searchResultsForm" class="margin-top-md">
  <!--Patient Name-->
  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>Name:</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <!--Gender-->
  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      @for (gender of GENDER_LIST; track gender) {
        <mat-option [value]="gender">{{ gender }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!--DoB Range-->
  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>DoB Range</mat-label>
    <mat-date-range-input [formGroup]="dobRange" [rangePicker]="dobPicker">
      <input matStartDate formControlName="dobStart" placeholder="Start date">
      <input matEndDate formControlName="dobEnd" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="dobPicker"></mat-datepicker-toggle>
    <mat-date-range-picker #dobPicker></mat-date-range-picker>
  </mat-form-field>

  <!--Started Range-->
  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>Started Range</mat-label>
    <mat-date-range-input [formGroup]="startedRange" [rangePicker]="startedPicker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="startedPicker"></mat-datepicker-toggle>
    <mat-date-range-picker #startedPicker></mat-date-range-picker>
  </mat-form-field>

  <!--Form Name-->
  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>Name</mat-label>
    <mat-select formControlName="formName">
      @for (formName of nameList; track formName) {
        <mat-option [value]="formName">{{ formName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!--Status-->
  <mat-form-field appearance="outline" class="margin-right-md">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      @for (status of statusList; track status) {
        <mat-option [value]="status">{{ status }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="onClearForm()">Clear Filters</button>

</form>

