//the menu is based on this post https://codepen.io/JFarrow/pen/nJgRga

.wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.area {
  background: #e2e2e2;
  padding-left: 60px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.area.expanded{
  padding-left: 200px;
}
