<div class="wrapper">
  <nav class="main-menu" [ngClass]="{'expanded': expanded}">
    <ul>
      @if (oauthService.hasValidAccessToken()) {
        <li>
          <span class="icon"> <sc-standalone-login [isLocatedInMainMenu]="true"></sc-standalone-login></span>
        </li>
      }
      @else{
        <li>
          <a href="#" (click)="expanded = !expanded; this.oauthService.initLoginFlow();">
            <span class="icon"><mat-icon>login</mat-icon></span>
            @if (expanded) {
              <span class="nav-text">Login</span>
            }
          </a>
        </li>
      }
      <!-- Open/Close nav menu -->
      <li>
        <a href="#" (click)="expanded = !expanded">
          @if (expanded) {
            <span class="icon"><mat-icon>chevron_left</mat-icon></span>
            <span class="nav-text">Close Menu</span>
          }
          @else {
            <span class="icon"><mat-icon>chevron_right</mat-icon></span>
          }
        </a>
      </li>

      @if (oauthService.hasValidAccessToken()) {
        <li>
          <a href="#">
        <span class="icon">
          <mat-icon>home</mat-icon> </span>
            <span class="nav-text">
          Home
        </span>
          </a>
        </li>
      }
      @else {
        <!-- render anything here for which the user is not logged in-->
      }
    </ul>

    <!-- render a logout button at the bottom of the menu -->
    @if (oauthService.hasValidAccessToken()) {
      <ul class="logout">
        <li>
          <a href="#" (click)="oauthService.logOut()" >
            <span class="icon"><mat-icon>logout</mat-icon> </span>
            @if (expanded) {
              <span class="nav-text">Logout</span>
            }
          </a>
        </li>
      </ul>
    }
  </nav>

</div>

<div class="area" [ngClass]="{'expanded': expanded}">
  @if(oauthService.hasValidAccessToken()){
    <router-outlet></router-outlet>
  }
  @else {
    <sc-standalone-login [isLocatedInMainMenu]="false"></sc-standalone-login>
  }
</div>



