@if (isLocatedInMainMenu) {
  <div class="user-profile-header">
    <ng-container *ngIf="oauthService.hasValidAccessToken(); else loggedOut" class="profile-wrapper">
    </ng-container>
    <ng-template #loggedOut>
      <button mat-icon-button
              (click)="oauthService.initImplicitFlow()"
              class="login-button">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>
    <div *ngIf="oauthService.getIdentityClaims() as user">
      <img
        [src]="user?.['picture'] ? user?.['picture'] : '/assets/portrait_placeholder.png'"
        referrerpolicy="no-referrer"
        class="profile-image">
      <mat-menu #userMenu="matMenu" style="width: 250px;">
        <div mat-menu-item>
          <div class="user-card">
            <img
              [src]="user?.['picture']"
              referrerpolicy="no-referrer"
              class="profile-image"
            >
            <div class="details" *ngIf="oauthService.getIdentityClaims() as user">
              <div class="name">{{ user?.['given_name'] }}</div>
              <div class="email">{{ user?.['email'] }}</div>
            </div>
          </div>
        </div>
        <button mat-menu-item
                (click)="oauthService.logOut()">
          <mat-icon>logout</mat-icon>
          Sign Out
        </button>
      </mat-menu>
    </div>
  </div>
} @else {
  <div style="margin: auto">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>
          Sign In Header
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Temp content
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="oauthService.initImplicitFlow()">
          <mat-icon>login</mat-icon>
          Sign In
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
}
