tr.patient-row:not(.selected-patient-row):hover {
  background: whitesmoke;
}

tr.selected-patient-row {
  background: whitesmoke;
}

.mat-column-selection {
  width: 8%;
}

.no-data {
  padding: 16px;
}
