tr.patient-row:not(.selected-patient-row):hover {
  background: whitesmoke;
}

tr.selected-patient-row {
  background: whitesmoke;
}

.compact-row {
  height: 32px;
}

.mat-column-selection {
  width: 8%;
}
