tr.patient-row:not(.selected-patient-row):hover {
  background: whitesmoke;
}

tr.selected-patient-row {
  background: whitesmoke;
}

.compact-row {
  height: 32px;
}

.mat-column-selection {
  width: 24px;
}

.centered{
  display: flex;
  align-content: center;
  justify-content: center;
}

.check-mark {
  transform: scale(0.8);
  color: #646064
}

.custom-padding{
  padding: 0 0 0 8px;
}
