
<div>
  <h2>By Identifier</h2>
  <form class="search-by-identifier">
    <mat-form-field>
      <mat-label>Value</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type/System</mat-label>
      <mat-select>
          <mat-option [value]="'mrn'">MRN</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div>
  <h2>By Name and Date of Birth</h2>
  <form class="search-by-namedob">
    <mat-form-field>
      <mat-label>Given</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Family</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
</div>

<div>
  <h2>By FHIR ID</h2>
  <form class="search-by-fhirid">
    <mat-form-field>
      <mat-label>FHIR ID</mat-label>
      <input matInput>
    </mat-form-field>

  </form>
</div>


<div>
  <h2>Results</h2>
  <app-patient-summary-table></app-patient-summary-table>

</div>
