.patient-name {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  height:60px;
  margin-left: 32px;
  font-size: large;
}

.patient-details {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 32px;
  font-size: medium;
}
