<div>
  <div class="selection-card form-selection-card margin-bottom-lg">
    <div class="label-text margin-bottom-md">Select Form</div>
    <div class="">
      @if (!isLoading && !formList?.length) {
        <mat-error class="alert alert-danger">No SmartChart Forms Found</mat-error>
      } @else {
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Select Form</mat-label>
          <mat-select [(ngModel)]="selectedForm"
                      (selectionChange)="onFormSelected($event)"
                      aria-labelledby="select-form-label">
            @for (form of formList; track form) {
              <mat-option [value]="form">{{ form.title }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </div>
  </div>

  <div class="selection-card selected-patient margin-top-lg margin-bottom-lg">
    <mat-label class="margin-top-sm margin-bottom-md label-text">
      Selected Patient
    </mat-label>
    @if (selectedPatient?.name) {
      {{ selectedPatient?.name?.given }} {{ selectedPatient?.name?.family }}
    }
    @else {
      No Patient Selected
    }

  </div>

</div>
