<div class="margin-md">
  Select form
  @if (!isLoading && !formList?.length) {
    <mat-error>No SmartChart Forms Found</mat-error>
  } @else {
    <mat-radio-group aria-labelledby="select-form-label"
                     class="form-radio-group" (change)="onFormSelected($event)"
                     [(ngModel)]="selectedForm">
      @for (form of formList; track form) {
        <mat-radio-button [value]="form">{{ form.title }}</mat-radio-button>
      }
    </mat-radio-group>
  }
  <div class="margin-md">
    <mat-label class="margin-top-sm">Selected Patient:</mat-label>
    <div>{{ selectedPatient?.name?.given }} {{ selectedPatient?.name?.family }}</div>
  </div>

</div>
