<div>
  <div class="label-text">Select Form:</div>
  <div class="margin-bottom-lg">
    @if (!isLoading && !formList?.length) {
      <mat-error>No SmartChart Forms Found</mat-error>
    } @else {
      <mat-radio-group aria-labelledby="select-form-label"
                       class="form-radio-group" (change)="onFormSelected($event)"
                       [(ngModel)]="selectedForm">
        @for (form of formList; track form) {
          <mat-radio-button [value]="form">{{ form.title }}</mat-radio-button>
        }
      </mat-radio-group>
    }
  </div>
  <mat-divider></mat-divider>
  <div class="margin-top-lg margin-bottom-lg">
    <mat-label class="margin-top-sm margin-bottom-md label-text">
      Selected Patient:
    </mat-label>
    @if (selectedPatient?.name) {
      {{ selectedPatient?.name?.given }} {{ selectedPatient?.name?.family }}
    }
    @else {
      No Patient Selected
    }

  </div>
  <mat-divider></mat-divider>

</div>
