  <div class="patient-details">
    <div class="patient-details-label">
      Name
    </div>
    <div class="patient-details-value">
      {{ patientSummary.name.given }} {{ patientSummary.name.family }}
    </div>
  </div>
  <div class="patient-details">
    <div class="patient-details-label">
      Gender
    </div>
    <div class="patient-details-value">
      {{ patientSummary.gender | titlecase }}
    </div>
  </div>
  <div class="patient-details">
    <div class="patient-details-label">
      Date of Birth
    </div>
    <div class="patient-details-value">
      {{ patientSummary.birthDate | date : 'MM/dd/yyyy' }}
    </div>
  </div>
  @if (identifierSystem) {
    <div class="patient-details">
      <div class="patient-details-label">
        {{ identifierLabel }}
      </div>
      <div class="patient-details-value">
        {{ identifierValue }}
      </div>
    </div>
  }
